# CAPIF Configuration
CAPIF_IP=your_capif_core_function_here

# Deployment Profile
# Set to "True" to enable provider profile, "False" to run only invoker
PROVIDER_PROFILE=

# Invoker Configuration
INVOKER_HOST=your_invoker_host_here
INVOKER_PORT=your_invoker_port_here
PROVIDER_TARGET_URL=http://your_provider_ip:your_provider_port_here
CAPIF_CONFIG_FILE=your_capif_config_file_path_here

# Set to "true" to enable CAPIF integration in Invoker, "false" to disable
CAPIF_ENABLED= 
